<div class="all-elements">
    <form action="/save" method="post">
        <div id="addID" class="add-container" >
            <h1>Add-Screen</h1>

            <div class="add-form-container">
                <div class="txt-field-container">
                    <input  class="txt-field" name="titel" type="text" placeholder="Name" required="required" class="input">   <br><br>
                    <input  class="txt-field" name="address" type="text" placeholder="Strasse" required="required" class="input"><br><br>
                    <input  class="txt-field" name="postCode"type="text" placeholder="PLZ" required="required" class="input"><br><br>
                    <input  class="txt-field" name="city" type="text" placeholder="Stadt" required="required" class="input"><br><br>
                </div>
            </div>

            <div class="button-container">

                <button type="submit" class="action-button">Save</button>
                <a href="/addCancel" class="action-button">Cancel</a>

            </div>

        </div>
    </form>
</div>